html,body{
  margin: 0px;
  font-family: 'Baloo Bhaijaan', cursive;
}

.be-light-blue{
  background-color:#2A61C7 ;
}

.be-lightest-blue{
  background-color:#6EB1F0;
}

.be-dark-blue{
  background-image: url("./fondo.jpg") ;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  flex:none;
}

.be-darkest-blue{
  background-color: #20348C ;
}

.white{
  color: #ECF0F1;
}

.low-margin{
  margin: 1px;
}

.border-white{
  border-radius: 0.1px;
  border: solid;
  border-color: #ECF0F1;
}

.large-padding{
  padding: 8px 5px;
}

.big{
  height: 700px;
}

.margin-top{
  padding: 10px;
  border-radius: 30px;
  border: solid;
  border-color: white;
}


.be-flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #2A61C7;
  margin: 1px;
}

.gamepad {
  content: url("/assets/gamepad.svg");
  width: auto;
  height: 50px;
}

.character-image {
  content: url("/assets/orcbaby.png");
  width: auto;
  height: 100px;
}

.user-image {
  content: url("/assets/user.png");
  width: auto;
  height: 170px;
}

.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
  font: inherit;
}
.btn.be-lightest-blue.white{
  background-color:#6EB1F0;
  color: #ECF0F1;
}

.side-menu {
  height: 100vh;
  width: 15vw;
  //min-width: 150px;
  //max-width: 200px;
}

.content {
  height: 100vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.be-flex{
  display: flex;
}

.profile{
  height: 170px;
  width: 170px;
  border-radius: 85px;
  border: solid;
  border-color: white;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center
}

.padding-top{
  padding-top: 15px;
}

.username{
  height: 50px;
  width: 180px;
  line-height: 50px;
  border-radius: 40px;
  border: solid;
  border-color: white;
  text-align: center;
  font-size: 150%;
}

.big-font{
  font-size: 150%;
}

.life-bar-container{
  height: 10px;
  width: 180px;
  line-height: 50px;
  border-radius: 40px;
  border: solid;
  border-color: white;
}

.life-bar{
  height: 10px;
  width: 90px;
  line-height: 50px;
  border-radius: 40px;
  border: solid;
  //border-color: white;
  background-color: white;

}

.go-left{
  position: relative;
  border-radius: 10px;
  left: -16px;
}

.aside-bar{
  height: 50px;
  width: available;
}

.padding-to-fit{
  padding-top: 22px;
}

.audio-padding{
  position: relative;
  padding-top: 10px;
  left: 10px;
}